/* input.css */

.input-field {
    background-color: transparent;
    height: 3rem;
    width: 100%;
    border-radius: 0.5rem;
    color: #1f2937;
    border: 2px solid #6b7280;
    padding-left: 0.75rem;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.input-field::placeholder {
    color: transparent;
}

.input-field:focus {
    border-color: #0ea5e9;
    outline-color: #f43f5e;
}

.input-label {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.875rem;
    color: #6b7280;
    background-color: white;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    transition: all 0.2s;
}

.peer-placeholder-shown+.input-label {
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #6b7280;
}

.peer:focus+.input-label,
.peer:not(:placeholder-shown)+.input-label {
    top: -0.5rem;
    transform: translateY(0);
    color: #0ea5e9;
    font-size: 0.875rem;
    background-color: white;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}